<div class="profile-wrapper">
    <div class="user-card">
        <h1 class="titre-admin">Edition du profil</h1>
        <div class="details">
            <div *ngIf="user">
                <ul>
                    <li>
                        <h4>Nom : {{ user.user_name }}</h4>
                    </li>
                    <li>
                        <h4>Prénom : {{ user.user_name }}</h4>
                    </li>
                    <li>
                        <h4>Adresse email : {{ user.user_mail || 'aucun' }}</h4>
                    </li>
                    <li>
                        <h4>Rôle : {{ user.user_status || 'inconu' }}</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="buttons">
            <button [routerLink]="'/users/edit/' + user.id" class="button-edit">
                <h3>Éditer</h3>
            </button>
            <button (click)="deleteUser()" class="button-delete">
                <h3>Supprimer</h3>
            </button>
        </div>
    </div>
</div>
