@import 'src/assets/variables.scss';

$formwidth: 40%;
$formheight: 70vh;
$buttonswdith: 50%;

.profile-wrapper {
    width: $fullwidth;
    height: calc(#{$fullheight} - #{$gabarit-margin-top});
    padding-top: 10vh;
    color: $text-color;
    background-color: whitesmoke;

    .user-card {
        width: $formwidth;
        height: $formheight;
        margin: 0 auto;
        padding-top: 2%;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 10px 30px rgba($color: #7c7c7c, $alpha: 0.2);

        h1 {
            text-align: center;
            color: $primary-color-1;
        }

        .details {
            margin: 20% 0 0 calc(#{$buttonswdith}/ 2);
        }

        .buttons {
            width: $buttonswdith;
            margin: 50px 0 0 calc(#{$buttonswdith}/ 2);
            display: flex;

            .button-edit {
                padding: 10px 15px;
                border-radius: 8px;
                color: #fff;
                background-color: $primary-color-2;
                flex: 1;
                cursor: pointer;
            }
            .button-delete {
                padding: 10px 15px;
                border-radius: 8px;
                color: $primary-color-1;
                border: 1px solid $primary-color-1;
                flex: 1;
                cursor: pointer;
            }
        }
    }
}
