@import 'src/assets/variables.scss';

$searchbarheight: 40px;

.userlist-wrapper {
    width: $fullwidth;
    height: calc(#{$fullheight} - #{$gabarit-margin-top});

    .searchbar {
        width: 80%;
        height: $searchbarheight;
        margin: 5% 10% 0 10%;
        display: flex;

        .field-search {
            width: $fullwidth;
            margin-right: 1%;
            padding-left: 1%;
            border: 1px solid $primary-color-1;
            border-radius: 8px;
            font-size: 1.3em;
            color: $text-color;

            &:focus {
                color: black;
                background-color: lightgray;
            }
        }
    }

    .result-table {
        width: 80%;
        margin: 5% 10%;
        // background-color: $primary-color-1;

        .mat-header-cell {
            background-color: $primary-color-1;

            &:nth-child(1) {
                border-radius: 12px 0 0 0;
            }
            &:nth-child(4) {
                border-radius: 0 12px 0 0;
            }
        }
        .mat-cell {
            background-color: rgb(173, 173, 173);

            &:nth-child(-n + 4) {
                background-color: lightgray;
            }
        }

        h3 {
            color: white;
        }

        .material-icons {
            color: $primary-color-2;
            cursor: pointer;
        }
    }
}
