<div class="userlist-wrapper">
    <div class="searchbar">
        <input
            type="text"
            (keyup)="applyFilter($event.target.value)"
            placeholder="Rechercher un utilisateur"
            class="field-search"
        />
    </div>
    <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
</mat-form-field> -->

    <table mat-table [dataSource]="dataSource" class="result-table">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><h3>Nom</h3></th>
            <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef><h3>Email</h3></th>
            <td mat-cell *matCellDef="let element">
                {{ element.user_email || 'email not found' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>
                <h3>Rôle</h3>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.user_role || 'role not found' }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
                <h3>Edition</h3>
            </th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons" [routerLink]="'/users/' + element.id">
                    open_in_new
                </i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
