@import 'src/assets/variables.scss';

$searchbarheight: 40px;

.search-wrapper {
    width: $fullwidth;
    height: calc(#{$fullheight} - #{$gabarit-margin-top});

    .searchbar {
        width: 80%;
        height: $searchbarheight;
        margin: 5% 10% 0 10%;
        display: flex;

        .field-search {
            width: 90%;
            margin-right: 1%;
            padding-left: 1%;
            border: 1px solid $primary-color-1;
            border-radius: 8px;
            font-size: 1.3em;
            color: $text-color;

            &:focus {
                color: black;
                background-color: lightgray;
            }
        }

        .button-search {
            width: 10%;
            height: auto;
            border-radius: 8px;
            background-color: $primary-color-2;
            cursor: pointer;

            img {
                height: calc(0.7 * #{$searchbarheight});
            }
        }
    }
}
