<div class="search-wrapper">
    <div class="searchbar">
        <input type="text" placeholder="Rechercher une ou plusieurs règles" class="field-search" [formControl]="input" required />
        
    </div>

    <ul>
      <li *ngFor="let value of documentValues"> {{value.rule_title}}</li>
    </ul>

    <table mat-table [dataSource]="dataSource" class="result-table">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><h3>Nom de la règle</h3></th>
            <td mat-cell *matCellDef="let element">{{ element.doc_name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef><h3>Version</h3></th>
            <td mat-cell *matCellDef="let element">
                V{{ element.doc_version || 'email not find' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef><h3>Revision</h3></th>
            <td mat-cell *matCellDef="let element">
                r.{{ element.doc_revision || 'role not find' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef><h3>Consultation</h3></th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons" [routerLink]="'/documents/' + element.id">
                    remove_red_eye
                </i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

</div>


 

