<div class="adduser-wrapper">
    <form (ngSubmit)="register()" [formGroup]="userForm" class="form-adduser">
        <h1>Ajouter un utilisateur</h1>

        <mat-form-field class="form-field">
            <input matInput placeholder="Nom d'utilisateur" formControlName="username" />
        </mat-form-field>
        <br />

        <mat-form-field class="form-field">
            <input matInput placeholder="Mot de passe" formControlName="password" />
        </mat-form-field>
        <br />

        <mat-form-field class="form-field">
            <mat-select placeholder="Select" appearance="outline" formControlName="role">
                <mat-option value="admin">Administrateur</mat-option>
                <mat-option value="tech">Technicien</mat-option>
                <mat-option value="ing">Ingénieur</mat-option>
            </mat-select>
        </mat-form-field>
        <br />

        <button mat-raised-button type="submit" [disabled]="userForm.invalid" class="button-add">
            <h4>Ajouter</h4>
        </button>
    </form>
</div>
