@import 'src/assets/variables.scss';

$formwidth: 40%;
$formheight: 70vh;

.adduser-wrapper {
    width: $fullwidth;
    height: calc(#{$fullheight} - #{$gabarit-margin-top});
    padding-top: 10vh;
    color: $text-color;
    background-color: whitesmoke;

    h1 {
        margin-top: -12vh;
        padding-bottom: 10%;
        color: $primary-color-1;
    }

    .form-adduser {
        width: $formwidth;
        height: $formheight;
        margin: 0 auto;
        padding-top: 10%;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 10px 30px rgba($color: #7c7c7c, $alpha: 0.2);
        text-align: center;

        .form-field {
            width: 40%;
            text-align: center;
            flex: 1;

            .input-login {
                width: 40%;
                height: 30px;
                margin-bottom: 18px;
                border-radius: 8px;
            }
        }

        .button-add {
            margin-top: 15px;
            padding: 5px 15px;
            border-radius: 8px;
            background-color: $primary-color-2;
            color: #fff;
            cursor: pointer;
        }
    }
}

//édition prodonde de Material
// ::ng-deep {
//     mat-select {
//         background-color: lightgray;
//         font-size: 10px;
//     }

//     .mat-form-field-underline {
//         height: 0;
//     }
// }
