@import 'src/assets/variables.scss';

#nav-wrapper {
    width: $fullwidth;
    height: 100%;
    border-radius: 70px 0 0 0;
    background-color: $primary-color-1;

    .menu-item {
        padding: 3vh 0 2vh 0;
        text-align: center;
        cursor: pointer;
        display: flex;

        &:focus {
            outline: none;
        }

        span {
            flex: 1;

            img {
                width: auto;
                height: 7vh;
            }
        }

        .menu-title {
            padding-top: 2vh;
            text-align: left;
            color: white;
        }

        &:first-child {
            border-radius: 70px 0 0 0;
        }

        &:hover {
            background-color: $secondary-color-2;
        }
    }

    #expand-button {
        width: auto;
        height: 7vh;
        margin-top: 3vh;
        border: 0;
        background-color: $primary-color-1;
        cursor: pointer;

        img {
            width: 30%;
            height: auto;
        }
    }
}
