<div id="nav-wrapper">
    <div id="menu">
        <ul>
            <li class="menu-item" [routerLink]="'/documents/search'">
                <span>
                    <img src="/assets/pictos/loupe.svg" alt="rechercher" />
                </span>
                <span *ngIf="!hidden" class="menu-title"><h4>Rechercher</h4></span>
            </li>
            <li class="menu-item" [routerLink]="'/documents/list'">
                <span class="menu-icon">
                    <img src="/assets/pictos/documents.svg" alt="règles" />
                </span>
                <span *ngIf="!hidden" class="menu-title"><h4>Règles</h4></span>
            </li>
            <li class="menu-item" [routerLink]="'/users/list'">
                <span class="menu-icon">
                    <img src="/assets/pictos/edituser.svg" alt="utilisateurs" />
                </span>
                <span *ngIf="!hidden" class="menu-title"><h4>Utilisateurs</h4></span>
            </li>
            <li class="menu-item" [routerLink]="'/users/create'">
                <span class="menu-icon">
                    <img src="/assets/pictos/adduser.svg" alt="ajouter utilisateur" />
                </span>
                <span *ngIf="!hidden" class="menu-title"><h4>Ajout Utilisateur</h4></span>
            </li>
            <li class="menu-item" [routerLink]="'/documents/create'">
                <span class="menu-icon">
                    <img src="/assets/pictos/addfile.svg" alt="ajouter document" />
                </span>
                <span *ngIf="!hidden" class="menu-title"><h4>Ajout Document</h4></span>
            </li>
            <li>
                <button type="button" (click)="handleExpandClick()" id="expand-button">
                    <img src="/assets/pictos/expand.svg" alt="développer ou réduire les menus" />
                </button>
            </li>
        </ul>
    </div>
</div>
