<div class="document-wrapper">
    <h2>{{ document[0].doc_name || 'name not find' }}</h2>
    <div *ngFor="let rule of documentMore">
        <mat-list>
            <mat-list-item>{{ rule.rule_title }}</mat-list-item>
            <p>{{ rule.rule_content }}</p>
            <br />
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>
