
<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-searchbar (onSelectedOption)="onSelectedOption($event)"></app-searchbar>

</div>
<h2 style="text-align:center">Data</h2>
<div *ngFor = "let posts of post" class="group">
  <p><b>Item :</b>{{posts.id}}</p>
  <p><b>Title :</b> {{posts.title}}</p>
  <p><b>Body: </b>{{posts.body}}</p>
</div>