@import 'src/assets/variables.scss';

$formwidth: 40%;
$formheight: 70vh;

.upload-wrapper {
    width: $fullwidth;
    height: calc(#{$fullheight} - #{$gabarit-margin-top});
    padding-top: 10vh;
    color: $text-color;
    background-color: whitesmoke;

    h1 {
        margin-top: -12vh;
        color: $primary-color-1;
    }

    .upload-form {
        width: $formwidth;
        height: $formheight;
        margin: 0 auto;
        padding-top: 10%;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 10px 30px rgba($color: #7c7c7c, $alpha: 0.2);
        text-align: center;

        .form-group {
            margin-top: 50px;
        }
        .upload-button {
            margin-top: 50px;
            padding: 10px 15px;
            border-radius: 8px;
            background-color: $primary-color-2;
            color: #fff;
            cursor: pointer;
        }
    }
}
