<div class="upload-wrapper">
    <div class="upload-form">
        <label for="file"><h1>Déposer une règle</h1></label>
        <div class="form-group" id="file" (change)="handleFileInput($event.target.files)"></div>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)" />
        <br />
        <button (click)="uploadFileToActivity()" class="upload-button"><h3>Envoyer</h3></button>
    </div>
</div>
<button (click)="uploadFileToActivity()">Click me!</button>
