<div class="gabarit-wrapper">
    <app-sidenav
        (expand)="handleExpand()"
        [ngStyle]="{ flex: isExpanded ? 'calc(1 / 4)' : 'calc(1 / 9)' }"
    ></app-sidenav>
    <main>
        <ng-content></ng-content>
    </main>
</div>
