@import 'src/assets/variables.scss';

.gabarit-wrapper {
    width: 95%;
    height: 94vh;
    margin: $gabarit-margin-top 0 0 $gabarit-margin-left;
    border-radius: 70px 0 0 0;
    background-color: white;
    display: flex;
    box-shadow: -10px -10px 10px rgba($color: #7c7c7c, $alpha: 0.2);

    app-sidenav {
        flex: calc(1 / 9);
    }
    // main flex : 4 quand sidenav expanded
    // main flex : 9 quand sidenav collapsed
    main {
        flex: 1;
        overflow-y: scroll;
    }
}
