<div class="search-wrapper">
    <div class="searchbar">
        <input type="text" placeholder="Rechercher une règle" class="field-search" required />
        <button type="submit" class="button-search">
            <img src="/assets/pictos/loupe.svg" alt="lancer la recherche" />
        </button>
    </div>
</div>
