// Colors
$primary-color-1: #00c1a4;
$primary-color-2: #ff7900;

$secondary-color-1: #ff9d4d;
$secondary-color-2: #277f6f;

$text-color: rgb(117, 117, 117);

// Dimensions
$fullwidth: 100%;
$fullheight: 100vh;

// Margins
$gabarit-margin-top: 6vh;
$gabarit-margin-left: 5%;
