* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }
}
body {
    background-color: #d3d3d3;

    p,
    span,
    h1,
    h2,
    h3,
    h4 {
        font-family: 'Open Sans', sans-serif;
    }

    button {
        &:focus {
            outline: none;
        }
    }

    input {
        &:focus {
            outline: none;
        }
    }
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
