<div class="login-wrapper">
    <form (ngSubmit)="register()" [formGroup]="userForm" class="form-login">
        <h1>Connexion</h1>
        <div>
            <h2>Nom d'utilisateur</h2>
            <br /><input formControlName="username" class="input-login" />
            <div
                *ngIf="usernameCtrl.dirty && userForm.get('username').hasError('required')"
                class="tips"
            >
                <p>Vous n'avez pas renseigné de nom d'utilisateur</p>
            </div>
            <div
                *ngIf="usernameCtrl.dirty && userForm.get('username').hasError('minlength')"
                class="tips"
            >
                <p>Le nom d'utilisateur doit faire au moins 3 caractères</p>
            </div>
        </div>
        <div>
            <h2>Mot de passe</h2>
            <br /><input type="password" formControlName="password" class="input-login" />
            <div
                *ngIf="passwordCtrl.dirty && userForm.get('password').hasError('required')"
                class="tips"
            >
                <p>Vous n'avez pas entré de mot de passe</p>
            </div>
        </div>
        <button type="submit" [disabled]="userForm.invalid" class="button-login">Connexion</button>
    </form>
</div>
