@import 'src/assets/variables.scss';

$formwidth: 40%;
$formheight: 70vh;

.login-wrapper {
    width: $fullwidth;
    height: calc(#{$fullheight} - #{$gabarit-margin-top});
    padding-top: 10vh;
    color: $text-color;
    background-color: whitesmoke;

    h1 {
        margin-top: -12vh;
        padding-bottom: 10%;
        color: $primary-color-1;
    }

    .form-login {
        width: $formwidth;
        height: $formheight;
        margin: 0 auto;
        padding-top: 10%;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 10px 30px rgba($color: #7c7c7c, $alpha: 0.2);
        text-align: center;

        .input-login {
            width: 40%;
            height: 30px;
            margin-bottom: 18px;
            border: 1px solid $primary-color-1;
            border-radius: 8px;
        }

        .tips {
            margin: 0 0 25px 0;
            color: #ff5f5f;
        }

        .button-login {
            width: 15%;
            // margin-top: 15px;
            padding: 14px 0;
            border-radius: 8px;
            background-color: $primary-color-2;
            color: #fff;
            cursor: pointer;
        }
    }
}
