@import 'src/assets/variables.scss';

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  } 

  $formwidth: 40%;
  $formheight: 70vh;
  
  .login {
      width: $fullwidth;
      height: calc(#{$fullheight} - 10vh);
      padding-top: 10vh;
      background-image: linear-gradient(45deg, #cc6aa5, #3e91cc, #2dcca7);
  
      .form-login {
          width: $formwidth;
          height: calc(#{$formheight} - 10%);
          margin: 0 auto;
          padding-top: 10%;
          border-radius: 30px;
          background-color: #fff;
          text-align: center;
  
          .input-login {
              width: 40%;
              height: 30px;
              margin-bottom: 18px;
              border-radius: 8px;
          }
  
          .tips {
              margin: 0 0 25px 0;
              color: #ff5f5f;
          }
  
          .button-login {
              width: 15%;
              margin-top: 15px;
              padding: 14px 0;
              border-radius: 8px;
              background-color: $primary-color-1;
              color: #fff;
              cursor: pointer;
          }
      }
  }
  