<form (ngSubmit)="register()" [formGroup]="userForm" class="form-login">
    <div *ngIf="user" class="example-container">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="username" value="{{user.user_name}}">
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select"  formControlName="role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="tech">Tech</mat-option>
            <mat-option value="ing">Ing</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <button mat-raised-button type="submit" [disabled]="userForm.invalid" class="button-login">Update</button>
    </form>